body{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    margin:0;
    padding:0;
    overflow-x: hidden;
  }
  h1,h2,h3,h4{
   font-family: 'Roboto', sans-serif;
    font-weight:300;
  }
  .hidden-css,.hidden-js{
    opacity:0;
    visibility: hidden;
  }
  .edit-source{
    padding-top:20px;
    position:fixed;
    opacity:0;
    transform:translateY(-180%);
    transition:all ease 0.4s;
    width:100vw;
    height:100vh;
    background:#fff;
    z-index:9999;
    max-width:100%;
  }

  .fw-btn{
      padding:6px 24px;
      border-radius:18px;
      background:rgb(23, 184, 206);
      margin:10px;
      border:0;
      color:#fff;
  }
  .close-btn{
    top: 0;
    position: absolute;
    right: 0;
}
  .fw-btn:hover{
    background:rgb(27, 155, 172);
    cursor:pointer;
  }
  .fw-btn:focus{
      outline:none;
  }
  .code-wrap{
      display:flex;
  }
  #index-result,#js-result,#css-result{
    flex:1;
  }
  .code{
      width:100%;
      height:500px;
      border-left:1px solid #ddd;
      background:#002B36;
  }
  #index-result .code{
    border-left:0;
  }

  @media (max-width:768px){
    .code-wrap{
        display:block;
    }
    #index-result,#js-result,#css-result{
        width:100%;
      }
  }

  .input-wrap{
      width:100%;
      height:40px;
      border:1px dashed #ddd;
      position:relative;
  }
  .input-wrap input{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
  }
  .input-wrap input:focus{
      outline:none;
  }
  .input-wrap input:hover{
      cursor:pointer;
  }
  .input-wrap p{
      width:100%;
      font-size:11px;
      text-align:center;
      position:absolute;
      top:0;
      left:0;
  }
   .setting-toggle{
       box-shadow:-2px 0px 20px rgba(111,111,111,0.30);
       position:absolute;
       top:140px;
       left:-40px;
       border-top-left-radius: 4px;
       border-bottom-left-radius: 4px;
       background:rgb(23, 184, 206);
       color:#fff;
       padding:10px;
   }
   .setting-toggle:hover{
       cursor:pointer;
       background:rgb(27, 155, 172);
   }
   .setting-toggle svg{
       width:20px;
   }
   .setting-toggle svg path{
       fill:#fff;
   }
   .setting{
       transition:all ease 0.4s;
       width:30vw;
       padding:20px;
       position:fixed;
       z-index:9;
       top:0;
       right:0;
       height:100vh;
       background:#fff;
       -webkit-box-shadow: -4px 0px 20px rgba(0,0,0,0.26);
       -moz-box-shadow: -4px 0px 20px rgba(0,0,0,0.26);
       box-shadow: -4px 0px 20px rgba(0,0,0,0.26);
   }
   .setting .sort-table{
       display:flex;
   }
   .setting .sort-table .left-table,
   .setting .sort-table .right-table{
    max-height:400px;
    overflow-y:scroll;
    flex:1;
    padding:10px;
   }
   .step-one{
       max-width:300px;
       text-align:center;
       margin:20px auto;
   }
   .section-sortable{
       padding:20px;
       min-width:100px;
       border:2px dashed #ddd;
       position:relative;
   }
   .section-sortable:empty::after{
       content:'Drag & drop here';
       width:100px;
       position: absolute;
       font-size:11px;
       top:12px;
       left:12px;
   }
   .section-pickable{
    min-width:100px;
    padding:20px;
    border:1px solid #ddd;
    background:#f4f6f8;
}
   .section-pickable li,.section-sortable li{
       background:#fff;
       border-radius:2px;
       margin-bottom:4px;
       list-style:none;
       padding:10px;
       border:1px solid #ddd;
   }
   .section-sortable li.border-hightlight{
        border:2px dashed #ddd;
   }
   .section-pickable li:hover,.section-sortable li:hover{
            cursor: -webkit-grab; 
            cursor: grab;
            border:1px solid #444;
   }

/* preview */
.device{
    margin:10px;
}
.device:hover{
    cursor:pointer;
}
.container{
    transition: all ease-in-out 0.4s;
    margin:0;
    height:100vh;
    border:1px solid #ddd;
}
.container iframe{
    border:0;
    width:100%;
    height:100%;
    overflow-y:scroll;
}

/* animations  */
.spinner{
margin-left:20px;
margin-bottom:20px;
}
.lds-ring {
display: inline-block;
position: relative;
width: 64px;
height: 64px;
}
.lds-ring div {
box-sizing: border-box;
display: block;
position: absolute;
width: 51px;
height: 51px;
margin: 6px;
border: 6px solid #444;
border-radius: 50%;
animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
border-color: #444 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
animation-delay: -0.15s;
}
@keyframes lds-ring {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(360deg);
}
}
