<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sh0p - Footer</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css'>
    <style>
        #footer{
            background:#444;
        }
        #footer p, #footer a{
            color:#fff;
        }
    </style>
</head>
<body>
    <!-- Footer -->
    <section id="footer">
        <div class="footer container p-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="about">
                        <h4 class="text-white">About Sh0p</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure incidunt aliquam nisi nulla et architecto facere, fugiat nobis cumque, exercitationem sit corporis quos ab asperiores saepe. Magni consequatur rerum error, aperiam officiis saepe itaque rem ex provident fugiat suscipit in.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li><a href="#">Lorem, ipsum dolor.</a></li>
                        <li><a href="#">Lorem, ipsum dolor.</a></li>
                        <li><a href="#">Lorem, ipsum dolor.</a></li>
                        <li><a href="#">Lorem, ipsum dolor.</a></li>
                        <li><a href="#">Lorem, ipsum dolor.</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="gallery">
                        <div class="row">
                            <div class="col-6">
                                <img class="img-fluid m-2" src="https://picsum.photos/200/200" alt="pic-1">
                            </div>
                            <div class="col-6">
                                <img class="img-fluid m-2" src="https://picsum.photos/200/201" alt="pic-2">
                            </div>
                            <div class="col-6">
                                <img class="img-fluid m-2" src="https://picsum.photos/201/200" alt="pic-3">
                            </div>
                            <div class="col-6">
                                <img class="img-fluid m-2" src="https://picsum.photos/201/201" alt="pic-4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end Footer -->
</body>
</html>