<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"></link>
<style>
.login{
  max-width:400px;
  margin:40px auto;
}
</style>
</head>
<body>
<section id="login-box">
	
	<div class="container">
<div class="row">
  <div class="col s12">
    <div class="login">
      <h4>
        Login
      </h4>
       <div class="row">
        <div class="input-field col s12"><label for="username">Username</label>
          <input type="text" id="username" name="username" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" name="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
          <button class="btn wave-effect">Sign In</button>

    </div>
  </div>
</div>
</div>
	
</section>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</script>
</body>
</html>